@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Azeret Mono", monospace;
}

/* banner style starts here */
.banner-container {
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1280px;
    min-height: 550px;
    border-top: 3px dashed rgb(13, 19, 33, 0.1);
    border-bottom: 3px dashed rgb(13, 19, 33, 0.1);
}
.banner-element{
    width: 50%;
    margin: 0 auto;
}
.banner-element .banner-image {
    width: 100px;
    height: 100px;
    margin-left: 250px;
    padding-top: 50px;
}

.banner-image img {
    width: 180px;
    height: 190px;
}

.banner-element .banner-content {
    padding-top: 160px;
}
.banner-element .banner-content h2{
    text-align: center;
}
.banner-element .banner-content p {
    color: rgb(13, 19, 33, 0.7);
    font-family: "Inter", sans-serif;
    padding-top: 20px;
    font-size: 12px;
    padding-bottom: 40px;
    text-align: center;

}

.banner-element .banner-content a button{
    color: rgb(255, 255, 255);
    font-size: 16px;
    background-color: black;
    text-align: center;
    padding: 11px 8px;
    border: none;
    border-radius: 5px;
 margin-left: 270px;
}

/* banner style ends here */

/* why-web style starts here */

.why-web {
    margin-top: 100px;
}

.why-web-content {
    margin: 0 auto;
    width: 60%;
}

.why-web-content h3{
    text-align: center;
    margin-bottom: 20px;
}

.why-web-content p {
    color: rgb(13, 19, 33, 0.7);
    font-size: 12px;
    text-align: center;
    margin-bottom:100px;
    font-family: "Inter", sans-serif;
}
.why-web-columns{
    width: 50%;
    margin: 0 auto;
}
.column1,.column2,.column3{
    display: flex;
    margin: 25px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.column1 .row-1-content,.column3 .row-3-content{
    width: 60%;
}
.column2 .row-2-content{
    width: 80%;
}
.column1 .row-1-content h5,.column2 .row-2-content h5,.column3 .row-3-content h5{
    color: #565a64;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 20px;
}
.column1 .row-1-content p,.column2 .row-2-content p,.column3 .row-3-content p{
    color: rgb(13, 19, 33,0.7);
font-size: 12px;
font-weight: 400;
text-align: left;
margin-bottom: 20px;
font-family: "Inter", sans-serif;
}
.column1 .row-1-content a button,.column2 .row-2-content a button,.column3 .row-3-content a button{
    padding: 10px 30px;
    color:#565a64;
font-family: Azeret Mono;
font-size: 16px;
font-weight: 600;
text-align: center;
}
.row-1-image,.row-3-image{
    width: 20%;
    padding-left: 35px;
}
.row-2-image{
    padding-right: 30px;
}
.row-1-image img,.row-2-image img,.row-3-image img{
    width:200px;
    height: 190px;
}
/* why-web style ends here */
/* inspiration section style starts here */
.inspiration{
    margin-top: 100px;
}

.inspiration-content{
    margin: 0 auto;
    width: 60%;
}

.inspiration-content h3 {
    text-align: center;
    margin-bottom: 20px;
}
.inspiration-content p {
    color: rgb(13, 19, 33, 0.7);
    font-size: 12px;
    text-align: center;
    margin-bottom:60px;
    font-family: "Inter", sans-serif;
}

.inspiration-video iframe{
    width: 60%;
border: 1px solid #e1dfdf;
padding: 20px;
border-radius: 16px;
    margin-left:260px;
}
/* inspiration section style ends here */
/* Current target section style starts here */

.current-target{
    margin-top: 80px;
}

.current-target-description{
    margin: 0 auto;
    width: 50%;
}

.current-target-description h3{
    text-align: center;
    margin-bottom: 20px;
}

.current-target-description p {
    color: rgb(13, 19, 33, 0.7);
    font-size: 12px;
    text-align: center;
    margin-bottom:50px;
    font-family: "Inter", sans-serif;
}
.cards{
    width: 70%;
    height:220px;
    margin: 0 auto;
    display: flex;
}
.cards .card-1,.card-2{
    width: 40%;
    margin-right: 20px;
}
.cards .card-3{
    width: 40%;
}
.cards .card-1,.card-2,.card-3{
    padding: 15px;
    background-color: #fff6f4;
    border-radius: 10px;
}
.card-2{
    background-color: #f2f6fe;
}
.card-3{
    background-color: #fffdf2;
}
.cards .card-1 img,.card-2 img,.card-3 img{
    width: 45px;
    height: 40px;
    margin-bottom:20px;
}
.cards .card-1 h4,.card-2 h4,.card-3 h4{
font-weight: bold;
font-size: 16px;
font-family: "Inter", sans-serif;
text-align: left;
}
.cards .card-1 p,.card-2 p,.card-3 p{
    color: rgb(13, 19, 33);
    font-size: 11px;
    font-weight: 400;
    text-align: left;
    font-family: "Inter", sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}
.cards .card-1 a,.card-2 a,.card-3 a{
    font-size: 13px;
    font-family: "Inter", sans-serif;
    color: black;
    font-weight: bold;
}
.cards .card-1 p{
    margin-bottom: 32px;
}
/* Current target section style ends here */
/* need support section style starts here */
.need-support{
    width: 60%;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.5);
    background-image: url(../assets/handshake.jpg);
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 200px;
    border-radius: 10px;
    margin-top:100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.need-support .content h4{
    text-align: center;
    margin-bottom: 10px;
    color: white;
}
.need-support .content p{
    text-align: center;
    color:#b4b5b7;
    font-size: 11px;
    font-family: "Inter", sans-serif;
    margin-bottom: 20px;
}
.need-support .input input{
    padding: 10px 150px 8px 10px;
    border: none;
    border-radius: 5px;
    text-align: left; 
    font-size: 12px;
}
.need-support .input input::placeholder{
    color: rgba(13, 19, 33, 0.4);
}
.need-support .input button{
    padding: 8px 15px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    border: none;
}
/* need support section style ends here */
/* footer start */
.container{
    margin-top: 50px;
    background-color:#f7f8f8;
    display: flex;
    height: 70px;
}
.container .content h4{
color: rgb(13, 19, 33);
font-size: 13px;
font-weight: 600;
margin-top:35px;
text-align: center;
margin-left: 100px;
}
.container .icon{
    margin-left: 680px;
}
.container .icon img{
    width: 25px;
    height: 25px;
    margin-top:25px;
    margin-right:10px;
}
/* footer end */
